# Go build artifacts
/bin/
/build/
/dist/
*.exe
*.dll
*.so
*.dylib
*.test

# Dependency directories
/vendor/

# IDE/editor files
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment files
.env

# database
/storage

# configuration files
/config